.pad-container {
    height: 50vh;
}

html[dir="ltr"] {
    overflow: hidden !important;
    background-color: aqua;
}

h1 {
    text-align: center;
    margin-bottom: 55px;
}
.pads-container {
    margin-top: 50px;
}
