.pad-container {
    height: 75vh;
}

h1 {
    text-align: center;
    margin-bottom: 55px;
}
.pads-container {
    margin-top: 50px;
}
.navbar-nav,
mr-auto {
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    min-width: 50vw;
}

p {
    max-width: 75vw;
    margin: auto;
    font-size: 25px;
    font-weight: bolder;
}

